@import url(footer.css);
@import url(media-query-index.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    background-color: #FFFFFF;
    max-width: 1500px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;

}

p {
    font-family: 'Inter', sans-serif;
}

.bars {
    font-size: 2em;
    display: none;
}

.space-between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

.space-between-flex ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.space-between-flex ul li {
    padding: 10px;

}

.space-between-flex ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
}

.fa-cart-arrow-down {

    font-size: 1.5em;
}

.fa-magnifying-glass {
    font-size: 1.5em;
}

/* ---------------------------
first section 
------------------------------*/
.first-section {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.half-width {
    width: 50%;
    margin-right: 5%;
}

.camera-div {
    padding: 5%;
    background: url("../images/Circle\ design.svg") no-repeat;
    background-size: contain;
    background-position: center;
    margin: 2%;

}

.camera-div img {
    width: 100%;

}


.column-flex h1 {
    font-size: 3em;
    font-weight: 700;
    color: #3A3A3A;
    line-height: 70px;
    width: 100%;
    margin-bottom: 2%;
}

.column-flex p {
    width: 100%;
    margin-bottom: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #3A3A3A;
}

.column-flex a {
    display: inline-block;
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

/* ----------------------
second section, stolres name
------------------------- */

.second-third-section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.logos-div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(221, 217, 217);
    border-bottom: 1px solid rgb(221, 217, 217);
    gap: 1.2em;
    padding: 3% 0;
}

.logos-div div img {
    width: 90%;
}


/* ----------------------
third section, popular collection
------------------------- */
article {
    margin-bottom: 5%;
}

.popular-collections-h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    color: #3A3A3A;
    text-align: center;
    margin-bottom: 3%;
}

.collection-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.collection-card {
    padding: 5%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

.collection-card img {
    width: 100%;
}

.collection-card h2 {
    width: 100%;
    margin-top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;

}

.collection-card p {
    width: 100%;
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.87);
}

.review-icon {
    width: 80%;
    margin-top: 10px;
}

.fa-star {
    width: 16px;
    height: 16px;
}

.fa-star.starred {
    color: #FB8200;


}

.fa-star.half-starred {
    color: #c7c2c2;
    margin-right: 10px;

}

.collection-card h3 {
    width: 80%;
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    color: #787885;
}

.see-more {
    display: flex;
    justify-content: end;
    text-align: center;
}

.see-more a {
    text-decoration: none;
    color: #E02C6D;
    font-weight: 700;
}


/* ------------------
    featured section
 ----------------*/

.featured-flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

.gear-photo-div {
    width: 50%;
}

.gear-photo-div img {
    width: 100%;
}

.featured-products-info h2 {
    width: 100%;
    margin-bottom: 5%;
}

.featured-products-info p {
    width: 100%;
    margin-bottom: 5%;
}


.join-now-anchor {
    text-decoration: none;
    display: inline-block;
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;

}




/* ----------------------------------------------------- 
    Start of Media Query
   -----------------------------------------------------*/

/* Mobile Devices */
@media screen and (max-width:767.98px) {

    .remove-items {
        display: none;
    }

    .bars {
        display: flex;
    }

    .space-between-flex h2 {
        font-size: 1.1em;
    }

    .first-section {}

    .center-flex {
        flex-direction: column-reverse;
    }



    .column-flex {
        text-align: center;
        justify-content: center;
    }

    .half-width {
        width: 100%;
    }

    .camera-div {
        padding: 5%;
        width: 75%;
        display: flex;
    }



    .column-flex h1 {
        font-size: 2em;
        line-height: 50px;
        width: 100%;
    }

    .column-flex p {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        width: 100%;
        padding: 0 10%;
    }

    .column-flex a {
        font-size: 12px;
        line-height: 22px;
        padding: 5px 16px;

    }

    .logos-div {
        flex-wrap: wrap;
    }

    .collection-grid-container {
        grid-template-columns: repeat(1, 1fr);

    }

    .second-third-section {
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .featured-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .featured-products-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
        margin-bottom: 5%;
    }

    .featured-products-info p {
        text-overflow: ellipsis;
        text-align: center;
        overflow: hidden;
    }

    .featured-products-info h2 {
        text-align: center;
    }

    .featured-products-info a {
        text-align: center;
    }


}